@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 400;
  font-family: "Playfair Display", sans-serif;
  color: #262626;
  background-color: #fecdd3;
}
