@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-box {
    @apply flex items-center w-full justify-between;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  font-family: sans-serif;
  color: #000;
}
